# Dependencias PHP
/vendor/

# Archivos de entorno
.env
.env.*

# Storage (logs, caché, sesiones, subcarpetas)
 /storage/*
 !/storage/.gitignore  # Permite que el .gitignore dentro de storage se mantenga
 /storage/cache/
 /storage/logs/
 /storage/sessions/

# Public uploads (archivos subidos)
 /public/uploads/

# Bootstrap cache
/bootstrap/cache/

# Archivos temporales
*.log
*.cache

# Archivos generados por compilación de frontend
/public/assets/vendor/
# /public/assets/css/ y /public/assets/js/ quedan versionadas si contienen tus propios estilos y scripts
/public/hot
/public/storage
/public/mix-manifest.json
/public/build/

# PHPUnit cache
.phpunit.result.cache

# IDE y debug
/.vscode/
/.idea/
